{% extends 'base.html' %}
{% load static %}

{% block content%}

	<main class="main">
		<div class="container">
			<section class="container-promo">
				<section class="promo pizza">
					<h1 class="promo-title">Онлайн-сервис <br/>доставки еды на дом</h1>
					<p class="promo-text">
						Блюда из любимого ресторана привезет курьер в перчатках, маске и с антисептиком
					</p>
				</section>
				<!-- <section class="promo kebab">
					<h1 class="promo-title">Шашлыки на майские <br> со скидкой 35%</h1>
					<p class="promo-text">
						Закажите шашлыки в любом ресторане до 10 мая и получите скидку по промокоду OMAGAD
					</p>
				</section>
				<section class="promo vegetables">
					<h1 class="promo-title">Скидка 20% на всю еду <br> по промокоду LOVE.JS</h1>
					<p class="promo-text">
						Блюдо из ресторана привезут вместе с двумя подарочными книгами по фронтенду
					</p>
				</section>
				<section class="promo sushi">
					<h1 class="promo-title">Сеты со скидкой до 30% <br> в ресторанах</h1>
					<p class="promo-text">
						Скидки на сеты до 30 мая по промокоду DADADA
					</p>
				</section> -->
			</section>
			<section class="restaurants">
				<div class="section-heading">
					<h2 class="section-title">Рестораны</h2>
					<label class="search">
						<form action="{% url 'search' %}" method="post">
							{% csrf_token %}
							<input name="searching" type="text" class="input input-search" placeholder="Поиск блюд и ресторанов"/>
							<button style="height: 42px;
							width: 42px;
							background-color: #ffffff;
							border: 1px solid #d9d9d9;
							border-radius: 2px;" type="submit">Go</button>
						</form>
					</label>
				</div>
				<div class="cards cards-restaurants">
					<!--! restaurant card -->
					{% for rest in restaurants %}
						<a href="{% url 'restaurant' rest.id %}" class="card card-restaurant">
							<img src="{{ rest.image.url }}" alt="image" class="card-image"/>
							<div class="card-text">
								<div class="card-heading">
									<h3 class="card-title">{{ rest.name }}</h3>
									<span class="card-tag tag">{{ rest.time_of_delivery }} мин</span>
								</div>
								<div class="card-info">
									<div class="rating">
										{{ rest.stars }}
									</div>
									<div class="price">От {{ rest.price }} ₽</div>
									<div class="category">{{ rest.kitchen }}</div>
								</div>
							</div>
						</a>
					{% endfor %}
					<!--! /restaurant card -->
				</div>
			</section>
		</div>
	</main>


	

{% endblock %}